<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Booking Records</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="booking">Booking</a></li>
            <li><a href="records">Records</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
</header>
<body>
    <h2>List of your booked ticket</h2>
    <section data-position="order">
        <% for ( var i=0; i<alltheorders.length; i++) { %>
        <%= alltheorders[i].orderId %> &nbsp;
        <%= alltheorders[i].movieName %> &nbsp;
        <%= alltheorders[i].time %> &nbsp; <br>
        <% } %>
    </section>

    <h2>Update a booking</h2>
    <form method="POST" action="/booking/update">
        <label for="orderId">Choose a booking:</label>
        <input type="text" name="orderId" id="orderId">
        <label for="movieId">Pick a new movie:</label>
        <input type="text" name="movieId" id="movieId">
        <label for="movieDateTime">Or pick a new date/time:</label>
        <input type="datetime-local" name="movieDateTime" id="movieDateTime">
        <input type="submit" value="Confirm">
    </form>

    <h2>Delete a booking</h2>
    <form method="POST" action="/booking/delete">
        <label for="orderId">Choose a booking:</label>
        <input type="text" name="orderId" id="orderId">
        <input type="submit" value="Confirm">
    </form>
</body>

</html>